.fill-container {
	width: 100%;
	height: 100%;
}

.align-center {
	align: center
}

.fill-width{
	width: 100%;
}

.blue-backgroud {
	background-color: #b0e0c0
}

.yellow-backgroud {
	background-color: #e0e0c0
}

.text-center {
	text-align: center
}

.item-vertical-margin {
	margin-top: 7px;
	margin-bottom: 7px
}