<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>me.zch.gwt.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/gwtlearning01/greet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dataStoreServlet</servlet-name>
		<servlet-class>me.zch.gwt.server.DataStoreServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dataStoreServlet</servlet-name>
		<url-pattern>/gwtlearning02/dataStore</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>greetServlet02</servlet-name>
		<servlet-class>me.zch.gwt.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet02</servlet-name>
		<url-pattern>/gwtlearning02/greet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addService</servlet-name>
		<servlet-class>me.zch.gwt.server.AddServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addService</servlet-name>
		<url-pattern>/gwtlearning02/add</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>GWTLearning01.html</welcome-file>
	</welcome-file-list>

</web-app>
